body { padding-top: 70px; }

#login-box {
    padding: 3px;
    border-bottom: solid 1px #bbb;
    border-left: solid 1px #bbb;
    position: fixed;
    top: 50px;
    right: 0;
}

.button-panel {
    text-align: center;
    width: 100%;
    border-top: solid 1px #bbb;
    padding: 3px;
    position: fixed;
    bottom: 0;
    left: 0;
}